
 @import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
 }
body{
    font-family: 'Didact Gothic', sans-serif;
    margin: 0;
    background-image: url(pexels-mudassir-ali-3970396.jpg);
    background-repeat: repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: black;
}

header{
    display: flex;
    min-height: 70px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    color: black;
    box-shadow: 1px 0 6px 2px;
    position: fixed;
    width: 100%;
    
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    width: 50px;
    margin-right: 10px;
}
nav{
    margin-right: 10px;
}
nav a{
    margin-right: 5px;
}

nav a:hover{
    color:cornflowerblue;
    
}

.Iniciofotos{
    padding-top: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    box-shadow: 2px 0 3px  3px rgba(0,0, 0, 0.2);
    
}


.sobremi{
    margin-top: 35px;
}
.Sobremi{
    color: white;
    font-size: x-large;
    width: 50%;
    height: 120px;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin: auto;
 }
 


 




@media (max-width:700px ){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
    .Sobremi{
        flex-direction: column;
        padding-top: 0px;
        padding: 0;
        font-size:small;
    }
    .Iniciofotos{
        padding-top: 80px;
    }

}